{% extends "base.html" %}

{% block content %}
<div class="signup">
    <h1>ersatz</h1>

    <div class="signup-form">
        {% if validlink %}
            <div class="hgroup">
                <h2>Enter new password</h2>
                <h3>Please enter your new password twice so we can verify you typed it in correctly.</h3>
            </div>

            <form action="" method="post">
                {% csrf_token %}
                <div class="control-group">
                    <div class="controls">
                        <input type="password" name="new_password1" id="id_new_password1" placeholder="New password" class="span4" autocomplete="off">
                        {{ form.new_password1.errors }}
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="password" name="new_password2" id="id_new_password2" placeholder="Confirm password" class="span4" autocomplete="off">
                        {{ form.new_password2.errors }}
                    </div>
                </div>
                <input type="submit" value="Change my password" class="btn btn-primary">
            </form>
        {% else %}
            <div class="hgroup">
                <h2>Password reset unsuccessful</h2>
                <h3>The password reset link was invalid, possibly because it has already been used.
                    <br>Please request a new password reset.</h3>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
