{% extends "base.html" %}

{% block content %}
<div class="signup">
    <h1>ersatz</h1>

    <div class="signup-form">
        <div class="hgroup">
            <h2>Password reset</h2>
            <h3>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</h3>
        </div>

        <form action="" method="post">
            {% csrf_token %}
            <div class="control-group">
                <div class="controls">
                    <input type="text" name="email" id="id_email" placeholder="Enter your Email" class="span4" autocomplete="off">
                    {{ form.email.errors }}
                </div>
            </div>
            <input type="submit" value="Reset my password" class="btn btn-primary">
            <p class="signup-links">
                <a href="{% url "home" %}">Back to login form</a>
            </p>
        </form>
    </div>
</div>
{% endblock %}
